<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mixin.messaging.core.mapper.MessagingCoreMapper">
  <resultMap id="BaseResultMap" type="com.mixin.messaging.core.domain.MessagingCore">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="message_uuid" jdbcType="VARCHAR" property="messageUuid" />
    <result column="exchange" jdbcType="VARCHAR" property="exchange" />
    <result column="routing_key" jdbcType="VARCHAR" property="routingKey" />
    <result column="reply_code" jdbcType="INTEGER" property="replyCode" />
    <result column="reply_test" jdbcType="VARCHAR" property="replyTest" />
    <result column="message_send" jdbcType="VARCHAR" property="messageSend" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, message_uuid, exchange, routing_key, reply_code, reply_test, message_send, 
    status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from messaging_core
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from messaging_core
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mixin.messaging.core.domain.MessagingCore">
    insert into messaging_core (id, user_id, message_uuid, 
      exchange, routing_key, reply_code, 
      reply_test, message_send, status, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{messageUuid,jdbcType=VARCHAR},
      #{exchange,jdbcType=VARCHAR}, #{routingKey,jdbcType=VARCHAR}, #{replyCode,jdbcType=INTEGER}, 
      #{replyTest,jdbcType=VARCHAR}, #{messageSend,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mixin.messaging.core.domain.MessagingCore">
    insert into messaging_core
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="messageUuid != null">
        message_uuid,
      </if>
      <if test="exchange != null">
        exchange,
      </if>
      <if test="routingKey != null">
        routing_key,
      </if>
      <if test="replyCode != null">
        reply_code,
      </if>
      <if test="replyTest != null">
        reply_test,
      </if>
      <if test="messageSend != null">
        message_send,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="messageUuid != null">
        #{messageUuid,jdbcType=VARCHAR},
      </if>
      <if test="exchange != null">
        #{exchange,jdbcType=VARCHAR},
      </if>
      <if test="routingKey != null">
        #{routingKey,jdbcType=VARCHAR},
      </if>
      <if test="replyCode != null">
        #{replyCode,jdbcType=INTEGER},
      </if>
      <if test="replyTest != null">
        #{replyTest,jdbcType=VARCHAR},
      </if>
      <if test="messageSend != null">
        #{messageSend,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mixin.messaging.core.domain.MessagingCore">
    update messaging_core
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="messageUuid != null">
        message_uuid = #{messageUuid,jdbcType=VARCHAR},
      </if>
      <if test="exchange != null">
        exchange = #{exchange,jdbcType=VARCHAR},
      </if>
      <if test="routingKey != null">
        routing_key = #{routingKey,jdbcType=VARCHAR},
      </if>
      <if test="replyCode != null">
        reply_code = #{replyCode,jdbcType=INTEGER},
      </if>
      <if test="replyTest != null">
        reply_test = #{replyTest,jdbcType=VARCHAR},
      </if>
      <if test="messageSend != null">
        message_send = #{messageSend,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mixin.messaging.core.domain.MessagingCore">
    update messaging_core
    set user_id = #{userId,jdbcType=VARCHAR},
      message_uuid = #{messageUuid,jdbcType=VARCHAR},
      exchange = #{exchange,jdbcType=VARCHAR},
      routing_key = #{routingKey,jdbcType=VARCHAR},
      reply_code = #{replyCode,jdbcType=INTEGER},
      reply_test = #{replyTest,jdbcType=VARCHAR},
      message_send = #{messageSend,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>