<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feikongbao.messaging.core.mapper.ReturnedMessageStorageMapper">
  <resultMap id="BaseResultMap" type="com.feikongbao.messaging.core.domain.ReturnedMessageStorage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="message_uuid" jdbcType="VARCHAR" property="messageUuid" />
    <result column="exchange" jdbcType="VARCHAR" property="exchange" />
    <result column="routing_key" jdbcType="VARCHAR" property="routingKey" />
    <result column="reply_code" jdbcType="INTEGER" property="replyCode" />
    <result column="reply_test" jdbcType="VARCHAR" property="replyTest" />
    <result column="message_send" jdbcType="VARCHAR" property="messageSend" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, message_uuid, exchange, routing_key, reply_code, reply_test, message_send, 
    status, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.feikongbao.messaging.core.domain.ReturnedMessageStorageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from returned_message_storage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from returned_message_storage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from returned_message_storage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.feikongbao.messaging.core.domain.ReturnedMessageStorageExample">
    delete from returned_message_storage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.feikongbao.messaging.core.domain.ReturnedMessageStorage">
    insert into returned_message_storage (id, user_id, message_uuid, 
      exchange, routing_key, reply_code, 
      reply_test, message_send, status, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{messageUuid,jdbcType=VARCHAR}, 
      #{exchange,jdbcType=VARCHAR}, #{routingKey,jdbcType=VARCHAR}, #{replyCode,jdbcType=INTEGER}, 
      #{replyTest,jdbcType=VARCHAR}, #{messageSend,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.feikongbao.messaging.core.domain.ReturnedMessageStorage">
    insert into returned_message_storage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="messageUuid != null">
        message_uuid,
      </if>
      <if test="exchange != null">
        exchange,
      </if>
      <if test="routingKey != null">
        routing_key,
      </if>
      <if test="replyCode != null">
        reply_code,
      </if>
      <if test="replyTest != null">
        reply_test,
      </if>
      <if test="messageSend != null">
        message_send,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="messageUuid != null">
        #{messageUuid,jdbcType=VARCHAR},
      </if>
      <if test="exchange != null">
        #{exchange,jdbcType=VARCHAR},
      </if>
      <if test="routingKey != null">
        #{routingKey,jdbcType=VARCHAR},
      </if>
      <if test="replyCode != null">
        #{replyCode,jdbcType=INTEGER},
      </if>
      <if test="replyTest != null">
        #{replyTest,jdbcType=VARCHAR},
      </if>
      <if test="messageSend != null">
        #{messageSend,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.feikongbao.messaging.core.domain.ReturnedMessageStorageExample" resultType="java.lang.Long">
    select count(*) from returned_message_storage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update returned_message_storage
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.messageUuid != null">
        message_uuid = #{record.messageUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.exchange != null">
        exchange = #{record.exchange,jdbcType=VARCHAR},
      </if>
      <if test="record.routingKey != null">
        routing_key = #{record.routingKey,jdbcType=VARCHAR},
      </if>
      <if test="record.replyCode != null">
        reply_code = #{record.replyCode,jdbcType=INTEGER},
      </if>
      <if test="record.replyTest != null">
        reply_test = #{record.replyTest,jdbcType=VARCHAR},
      </if>
      <if test="record.messageSend != null">
        message_send = #{record.messageSend,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update returned_message_storage
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      message_uuid = #{record.messageUuid,jdbcType=VARCHAR},
      exchange = #{record.exchange,jdbcType=VARCHAR},
      routing_key = #{record.routingKey,jdbcType=VARCHAR},
      reply_code = #{record.replyCode,jdbcType=INTEGER},
      reply_test = #{record.replyTest,jdbcType=VARCHAR},
      message_send = #{record.messageSend,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.feikongbao.messaging.core.domain.ReturnedMessageStorage">
    update returned_message_storage
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="messageUuid != null">
        message_uuid = #{messageUuid,jdbcType=VARCHAR},
      </if>
      <if test="exchange != null">
        exchange = #{exchange,jdbcType=VARCHAR},
      </if>
      <if test="routingKey != null">
        routing_key = #{routingKey,jdbcType=VARCHAR},
      </if>
      <if test="replyCode != null">
        reply_code = #{replyCode,jdbcType=INTEGER},
      </if>
      <if test="replyTest != null">
        reply_test = #{replyTest,jdbcType=VARCHAR},
      </if>
      <if test="messageSend != null">
        message_send = #{messageSend,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feikongbao.messaging.core.domain.ReturnedMessageStorage">
    update returned_message_storage
    set user_id = #{userId,jdbcType=BIGINT},
      message_uuid = #{messageUuid,jdbcType=VARCHAR},
      exchange = #{exchange,jdbcType=VARCHAR},
      routing_key = #{routingKey,jdbcType=VARCHAR},
      reply_code = #{replyCode,jdbcType=INTEGER},
      reply_test = #{replyTest,jdbcType=VARCHAR},
      message_send = #{messageSend,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>