<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feikongbao.message.wechat.model.mapper.MessageWeChatUserInfoMapper">

    <resultMap id="BaseResultMap" type="com.feikongbao.message.wechat.model.data_type.MessageWeChatUserInfo">
        <result column="user_info_id" jdbcType="BIGINT" property="userInfoId"/>
        <result column="user_open_id" jdbcType="VARCHAR" property="userOpenId"/>
        <result column="user_phone_num" jdbcType="DECIMAL" property="userPhoneNum"/>
        <result column="user_subscribe" jdbcType="VARCHAR" property="userSubscribe"/>
        <result column="user_nickname" jdbcType="VARCHAR" property="userNickname"/>
        <result column="user_sex" jdbcType="INTEGER" property="userSex"/>
        <result column="user_city" jdbcType="VARCHAR" property="userCity"/>
        <result column="user_country" jdbcType="VARCHAR" property="userCountry"/>
        <result column="user_province" jdbcType="VARCHAR" property="userProvince"/>
        <result column="user_language" jdbcType="VARCHAR" property="userLanguage"/>
        <result column="user_head_img_url" jdbcType="VARCHAR" property="userHeadImgUrl"/>
        <result column="user_subscribe_time" jdbcType="INTEGER" property="userSubscribeTime"/>
        <result column="user_union_id" jdbcType="VARCHAR" property="userUnionId"/>
        <result column="user_remark" jdbcType="VARCHAR" property="userRemark"/>
        <result column="user_group_id" jdbcType="VARCHAR" property="userGroupId"/>
        <result column="user_subscribe_scene" jdbcType="VARCHAR" property="userSubscribeScene"/>
        <result column="user_qr_scene" jdbcType="VARCHAR" property="userQrScene"/>
        <result column="user_qr_scene_str" jdbcType="VARCHAR" property="userQrSceneStr"/>
        <result column="user_tagid_list" jdbcType="VARCHAR" property="userTagIdString" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" javaType="java.time.Instant" />
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" javaType="java.time.Instant" />
    </resultMap>

    <insert id="insertWeChatUserInfo"
            parameterType="com.feikongbao.message.wechat.model.data_type.MessageWeChatUserInfo">
        INSERT INTO wechat_user_info (
			user_open_id,
			user_phone_num,
			user_subscribe,
			user_nickname,
			user_sex,
			user_city,
			user_country,
			user_province,
			user_language,
			user_head_img_url,
			user_subscribe_time,
			user_union_id,
			user_remark,
			user_group_id,
			user_tagid_list,
			user_subscribe_scene,
			user_qr_scene,
			user_qr_scene_str,
			last_update_time
		)
		VALUES
			(#{userOpenId,jdbcType=VARCHAR}, #{userPhoneNum,jdbcType=DECIMAL},
      #{userSubscribe,jdbcType=VARCHAR}, #{userNickname,jdbcType=VARCHAR}, #{userSex,jdbcType=INTEGER},
      #{userCity,jdbcType=VARCHAR}, #{userCountry,jdbcType=VARCHAR}, #{userProvince,jdbcType=VARCHAR},
      #{userLanguage,jdbcType=VARCHAR}, #{userHeadImgUrl,jdbcType=VARCHAR}, #{userSubscribeTime,jdbcType=INTEGER},
      #{userUnionId,jdbcType=VARCHAR}, #{userRemark,jdbcType=VARCHAR}, #{userGroupId,jdbcType=VARCHAR},
      #{userTagIdString,jdbcType=VARCHAR},
      #{userSubscribeScene,jdbcType=VARCHAR}, #{userQrScene,jdbcType=VARCHAR},
      #{userQrSceneStr,jdbcType=VARCHAR},#{lastUpdateTime,jdbcType=TIMESTAMP})
    </insert>

    <select id="countSelectByOpenId" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(DISTINCT user_open_id)
          FROM wechat_user_info wui
         WHERE wui.user_open_id = #{openId, jdbcType = VARCHAR}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select user_info_id,
               user_open_id,
               user_phone_num,
               user_subscribe,
               user_nickname,
               user_sex,
               user_city,
               user_country,
               user_province,
               user_language,
               user_head_img_url,
               user_subscribe_time,
               user_union_id,
               user_remark,
               user_group_id,
               user_tagid_list,
               user_subscribe_scene,
               user_qr_scene,
               user_qr_scene_str
          from wechat_user_info
    </select>

    <delete id="deleteByOpenId" parameterType="java.lang.String">
      DELETE FROM wechat_user_info
       WHERE user_open_id = #{openId, jdbcType = VARCHAR}
    </delete>

    <select id="selectOpenIdByPhoneNum" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT wui.user_open_id
          FROM wechat_user_info wui
         WHERE wui.user_phone_num = #{userPhoneNum, jdbcType = DECIMAL}
    </select>

</mapper>