<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feikongbao.message.wechat.model.mapper.MessageWeChatUserMessageMapper">
  <resultMap id="BaseResultMap" type="com.feikongbao.message.wechat.client.model.entiy.message_wechat.MessageWeChatUserMessage">
    <result column="user_message_id" jdbcType="BIGINT" property="userMessageId" />
    <result column="user_phone_num" jdbcType="DECIMAL" property="userPhoneNum" />
    <result column="user_open_id" jdbcType="VARCHAR" property="userOpenId" />
    <result column="user_message_msg_id" jdbcType="VARCHAR" property="userMessageMsgId" />
    <result column="user_message_status" jdbcType="VARCHAR" property="userMessageStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="user_message_content" jdbcType="VARCHAR" property="userMessageContent" />
  </resultMap>

  <insert id="insert" parameterType="com.feikongbao.message.wechat.client.model.entiy.message_wechat.MessageWeChatUserMessage">
    INSERT INTO wechat_user_message ( user_phone_num, user_open_id, user_message_msg_id, user_message_status, create_time, last_update_time, user_message_content )
      VALUES
          ( #{userPhoneNum,jdbcType=DECIMAL}, #{userOpenId,jdbcType=VARCHAR},
      #{userMessageMsgId,jdbcType=VARCHAR}, #{userMessageStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{userMessageContent,jdbcType=LONGVARCHAR}
          )
  </insert>

  <select id="selectAll" resultMap="BaseResultMap">
    select user_message_id, user_phone_num, user_open_id, user_message_msg_id, user_message_status, 
    create_time, last_update_time, user_message_content
    from wechat_user_message
  </select>

  <update id="updateUserMessageStatus"  parameterType="com.feikongbao.message.wechat.client.model.entiy.message_wechat.MessageWeChatUserMessage">
    UPDATE wechat_user_message wum
       SET wum.user_message_status = #{userMessageStatus,jdbcType=VARCHAR},
           wum.last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
     WHERE wum.user_open_id = #{userOpenId,jdbcType=VARCHAR}
       and wum.user_message_msg_id = #{userMessageMsgId,jdbcType=VARCHAR}
  </update>

</mapper>